<section class="sct-color-1 slice">
<div class="container-fluid masonry-container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-4">
      <h1>welcome to Bookers !!</h1>
      <p>In Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about varioius books!</p>
      <div class="row">
        <div class="col-sm-7">
        <%= link_to "SignUp", new_user_registration_path, class:"btn btn-block btn-info sign_up" %>
        <%= link_to "LogIn", new_user_session_path, class:"btn btn-block btn-success sign_in" %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>