// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-index-box{
	margin-left: 35px;
}

.books-user-btn{
	margin-top: -53px;
  margin-left: 6px;
}
.comment-box{
	margin-top: 6px;
}
.comment-submit-btn{
	margin-top: 6px;
	margin-left: 15px;
}